BetterFog/obj/
BetterFog/bin/
BetterFog/.vs/
logs/
package/
samples/
CHANGELOG.md
BetterFog/0Harmony.dll
BetterFog/Assembly-CSharp.dll
BetterFog/BepInEx.dll
BetterFog/BepInEx.Harmony.dll
BetterFog/LethalCompanyInputUtils.dll
BetterFog/Unity.InputSystem.dll
BetterFog/Unity.Netcode.Runtime.dll
BetterFog/Unity.RenderPipelines.Core.Runtime.dll
BetterFog/Unity.RenderPipelines.HighDefinition.Runtime.dll
BetterFog/Unity.TextMeshPro.dll
BetterFog/UnityEngine.AssetBundleModule.dll
BetterFog/UnityEngine.AudioModule.dll
BetterFog/UnityEngine.CoreModule.dll
BetterFog/UnityEngine.dll
BetterFog/UnityEngine.IMGUIModule.dll
BetterFog/UnityEngine.PhysicsModule.dll
BetterFog/UnityEngine.TextRenderingModule.dll
BetterFog/UnityEngine.UI.dll
BetterFog/UnityEngine.UIElementsModule.dll
BetterFog/UnityEngine.UIModule.dll
